.App {
  /* text-align: center; */
  background: #e8eff2;
}

.App col-*{
  margin-bottom:20px;
}

.logo {
  width:120px;
}

.App-link {
  color: #61dafb;
}
.search-box{
  width: 550px;
  max-width: 100%;
  margin:0 auto;
}

.card-component{
 height: 100% !important;
 background-color:#fdfdfd !important;
 margin-bottom:20px;
 color:#707070;
 
}

.card-component .card-title{
  padding:20px 20px 0;
  border-bottom:1px solid #ccc;
}

.card-component .card-title a{
 font-size: 0.8rem;
 line-height: 1rem;
}

.card-component .card-title h5{
  font-size:1.1rem;
  line-height: 1.1rem;
}

.card-component p{
  margin-top:2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
